<!DOCTYPE html>
<html xml:lang="zh-Hans" lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="{$keyword}">
    <meta name="description" content="{$keyword}">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{$host}/public/assets/img/dj.icon" type="image/x-icon"/>
    <title>丁敬de个人博客</title>
    <!-- CSS 文件 -->
    <link rel="stylesheet" href="{$host}/public/assets/css/foundation.css"/>
    <link rel="stylesheet" href="{$host}/public/assets/css/main.css"/>
    <link rel="stylesheet" href="{$host}/public/assets/css/styles/foundation.css"/>
    <link rel="dns-prefetch" href="//cdn.mathjax.org" />    <!-- 数学公式 -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116301846-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-116301846-1');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8080155533523922",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
<!-- 导航栏开始 -->
<div class="sticky">
    <nav class="top-bar" data-topbar data-options="sticky_on:large">
        <ul class="title-area">
            <li class="name"><a href="{$host}"><img src="{$host}/public/assets/img/dj_blog.png"/></a></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <!-- 导航栏按钮开始 -->
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="{$host}">首页</a></li>
                <li class="has-dropdown">
                    <a href="#">理论基础</a>
                    <ul class="dropdown">
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">实战记录</a>
                    <ul class="dropdown">
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">常见问题解决</a>
                    <ul class="dropdown">
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </li>
                <li><a href="#">文章归档</a></li>
                <li><a href="#">关于作者</a></li>
            </ul>

        </section>
        <!-- 导航栏按钮结束 -->
    </nav>
</div>
<!-- 导航栏结束 -->
<br/>

<!-- banner start -->

<div>
    <hr/>
    <div class="row">
        <!-- 侧边栏 -->
        <div class="medium-3 large-3 columns"></div>
        <!-- 侧边栏结束 -->
        <br/><br/>

        <!-- 主体内容 -->
        <div class="medium-9 large-9 columns">
            {$content}

            <br><br>
        </div>
        <!-- 主体内容完结 -->
    </div>
</div>
<!-- 正文部分结束 -->
<br/>

<!-- 页脚开始 -->
<footer class="footer">
    <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">
        <li>
            <h5 class="subheader panel">关于本站</h5>
            <small class="subheader panel">本站旨在总结个人所学,帮助自己梳理知识.欢迎志同道合的朋友交流留言,让我们在技术这条路上共勉！</small>
        </li>
        <li>
            <h5 class="subheader panel">关于作者</h5>
            <small class="subheader panel">暂时没有</small>
        </li>
        <li>
            <h5 class="subheader panel">公众号</h5>
            <small class="subheader panel">暂时没有</small>
        </li>
        <li>
            <h5 class="subheader panel">版权声明</h5>
            <small class="subheader panel">暂时没有</small>
        </li>
    </ul>
</footer>
<br/><br/>
<!-- 页脚结束 -->
<!-- javascript -->
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{$host}/public/assets/js/foundation.min.js"></script>
<script src="{$host}/public/assets/js/vendor/modernizr.js"></script>
<script src="{$host}/public/assets/js/snow.js"></script>
<script src="{$host}/public/assets/js/highlight.pack.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    showProcessingMessages: false,
    messageStyle: "none",
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
        inlineMath:  [ ["$", "$"] ],
        displayMath: [ ["$$","$$"] ],
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'],
        ignoreClass:"comment-content"
    },
    "HTML-CSS": {
        availableFonts: ["STIX","TeX"],
        showMathMenu: false
    }
});
MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>
<script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> <!-- 数学公式 -->
<script>
    $(document).ready(function(){
        $(document).foundation();
        snow();
        hljs.initHighlightingOnLoad();
        InstantClick.init();
    });
</script>
</body>
</html>