.padding_line {
    width: 100%;
}
.padding_div {
    padding-top: 3px;
    padding-left: 2px;
}
.panel {
    padding-top: 3px;
    padding-left: 16px;
    background: unset;
    border: none;
    width: 100%;
}
.bottom_div {
    position: relative;
    left: 0;
    top:500px;
    bottom: 0;
}
.footer {
    margin: 6px;
    bottom: 0;
    width: 100%;
    height: 60px;
    clear:both;
}

a:link {
    color:#868686; text－decoration: none
}
a:visited {
    color:#868686; text－decoration:line－through
}
a:active {
    color:#6f6f6f; text－decoration:underline
}
a:hover {
    color:#007ba4;text－decoration:none;
}