body, font, p, h1, h2, h3, h4, h5, h6, code{
    font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}

.padding_line {
    width: 100%;
}
.padding_div {
    padding-top: 3px;
    padding-left: 2px;
}
.space {
    margin: 3px;
}
.panel {
    padding-top: 3px;
    padding-left: 16px;
    background: unset;
    border: none;
    width: 100%;
}

.footer {
    width: 100%;
    padding: 60px;
}
a:link {
    color:#868686; text－decoration: none
}
a:visited {
    color:#868686; text－decoration:line－through
}
a:active {
    color:#6f6f6f; text－decoration:underline
}
a:hover {
    color:#007ba4;text－decoration:none;
}